.commit_body{

    h2{
        font-size: 20px;
        margin: 20px 0;
    }

    &-link{
        margin-bottom: 20px;
    }

    &-table{
    text-align: center;
	border: 1px solid #ebebeb;
	width: 100%;
	font-size: 16px;
	margin-bottom: 20px;
    
        &-row{
            padding: 10px;
            border: 1px solid #ebebeb;
            background-color: #fff;
            min-width: 150px;
        }
    }
}